{{#if data.total_results}}
<div class="glide mt-3" id="{{type}}">
    <div data-glide-el="track" class="glide__track">
        <ul class="glide__slides">
            {{#each data.results}}
            <li class="glide__slide"><a href="/person/{{{this.id}}}" class="link"><img class="carousel__image"
                        src="{{../data.apiImagesUrl}}/w185{{this.profile_path}}">
                    <p class="carousel__title mt-2">{{this.name}}</p>
                </a></li>
            {{/each}}
        </ul>

    </div>
    <div class=" glide__arrows d-none d-md-block" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-chevron-left"></i>
        </button> <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i
                class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>
{{/if}}