<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-md-auto  pt-3 text-center">
            <img class="person__photo "
                src={{#if resultsPerson.profile_path}}
                    "{{apiImagesUrl}}/w185{{resultsPerson.profile_path}}"
                    {{else}}
                        "https://fakeimg.pl/185x278/?text=No%20photo"
                    {{/if}}
                >
        </div>
        <div class="col-12 col-md">
            <h1 class="my-2 person__title">{{resultsPerson.name}}</h1>
            <p>{{resultsPerson.biography}}</p>

        </div>
    </div>
    <h2 class="mt-5">Filmography</h2>
    {{> ./carouselTemplate.handlebars filmographyCarouselContext apiImagesUrl=apiImagesUrl}}
</div>