<div class="jumbotron jumbotron-fluid movie__header"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{resultsTvShow.apiImagesUrl}}/original{{resultsTvShow.backdrop_path}});">
  <div class="container movie__header__heading">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-3 px-5 px-md-0 text-center">
        <img src="{{resultsTvShow.apiImagesUrl}}/w500{{resultsTvShow.poster_path}}"
          class="card-img-top movie__header__poster" alt="{{resultsTvShow.title}} poster" />
      </div>
      <div class="col-12 col-md mt-3 mt-md-0">
        <h1 class="display-4 movie__header__heading__title">
          {{resultsTvShow.name}}
        </h1>
        <p class="mb-3">
          {{#each resultsTvShow.genres}}
          {{#if @index}}
          ,{{this.name}}
          {{else}}
          {{this.name}}
          {{/if}}
          {{/each}}
        </p>
        <p class="lead">
          {{resultsTvShow.overview}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="movie container mx-auto">
  <h2>Cast</h2>
  {{> ./carouselPeopleTemplate.handlebars castCarouselContext }}
</div>